body{
  background-color: 	#FFC0CB;
}
.commLeft{
  background-color: 	#FFB6C1;
  padding:.3rem;
  border-radius: .3rem;
  border-bottom:1px solid #FFB6C1;
}
.commRight{
  background-color: #FFB6C1;
  margin-left: .5rem;
  padding:.3rem;
  border-radius: .3rem;
  border-bottom:1px solid #FFB6C1;

}
.commMain{
  margin-top: .5rem;
}
.ListTitle{
  color:#fff;
}